### Import the needed packages

In [2]:
import os
import pandas as pd

### Global variable

In [24]:
path_remetadata = 'data/resructured_metadata.csv'
path_metadata = 'data/metadata.csv'
dataset_path = './../dataset_processed/'
metadata = pd.read_csv(os.path.join('./../', path_remetadata))
src_metadata = pd.read_csv(os.path.join('./../', path_metadata))

### Analyse The data

In [4]:
metadata

,id,file_name,new_path
0,64992,fff_1_64992_r_n.jpg,./../dataset_used/fundus_image/glaucoma\fff_1_...
1,64992,fff_1_64992_l_n.jpg,./../dataset_used/fundus_image/glaucoma\fff_1_...
2,63298,fff_1_63298_r_1.jpg,./../dataset_used/fundus_image/glaucoma\fff_1_...
3,63298,fff_1_63298_r_3.jpg,./../dataset_used/fundus_image/glaucoma\fff_1_...
4,63298,fff_1_63298_r_2.jpg,./../dataset_used/fundus_image/glaucoma\fff_1_...
...,...,...,...
552,121355,oct_0_121355_l_).jpg,./../dataset_used/oct_image/non_glaucoma\oct_0...
553,121355,oct_0_121355_l_).jpg,./../dataset_used/oct_image/non_glaucoma\oct_0...
554,121856,oct_0_121856_u_y.jpg,./../dataset_used/oct_image/non_glaucoma\oct_0...
555,48763,oct_0_48763_r_d.jpg,./../dataset_used/oct_image/non_glaucoma\oct_0...
556,48763,oct_0_48763_l_s.jpg,./../dataset_used/oct_image/non_glaucoma\oct_0...

In [5]:
# isolate the real data by its file name
real_data = pd.DataFrame(columns=['file_name'])

In [6]:
# iterate through the dataset and add the file names founded to the real_data dataframe
for img_type in ['fundus_image', 'oct_image']:
    for label in ['glaucoma', 'non_glaucoma']:
        for filename in os.listdir(os.path.join(dataset_path, img_type, label)):
            real_data.loc[len(real_data)] = [filename]

In [7]:
real_data['id'] = real_data['file_name'].apply(lambda x: x.split('_')[2])
real_data.reset_index(names='index', inplace=True)

In [8]:
real_data

     index             file_name      id
0        0  fff_1_100287_l_).jpg  100287
1        1  fff_1_100287_r_).jpg  100287
2        2   fff_1_10207_l_1.jpg   10207
3        3   fff_1_10207_l_2.jpg   10207
4        4   fff_1_10207_r_1.jpg   10207
..     ...                   ...     ...
545    545   oct_0_83528_r_l.jpg   83528
546    546   oct_0_84739_r_s.jpg   84739
547    547   oct_0_87588_r_s.jpg   87588
548    548   oct_0_89703_r_a.jpg   89703
549    549   oct_0_94825_r_a.jpg   94825

[550 rows x 3 columns]

### Comparing information from metadata and real image file

In [9]:
validated_data = metadata.merge(real_data, on='file_name', how='left')

In [10]:
validated_data

,id_x,file_name,new_path,index,id_y
0,64992,fff_1_64992_r_n.jpg,./../dataset_used/fundus_image/glaucoma\fff_1_...,141,64992
1,64992,fff_1_64992_l_n.jpg,./../dataset_used/fundus_image/glaucoma\fff_1_...,140,64992
2,63298,fff_1_63298_r_1.jpg,./../dataset_used/fundus_image/glaucoma\fff_1_...,137,63298
3,63298,fff_1_63298_r_3.jpg,./../dataset_used/fundus_image/glaucoma\fff_1_...,139,63298
4,63298,fff_1_63298_r_2.jpg,./../dataset_used/fundus_image/glaucoma\fff_1_...,138,63298
...,...,...,...,...,...
552,121355,oct_0_121355_l_).jpg,./../dataset_used/oct_image/non_glaucoma\oct_0...,500,121355
553,121355,oct_0_121355_l_).jpg,./../dataset_used/oct_image/non_glaucoma\oct_0...,500,121355
554,121856,oct_0_121856_u_y.jpg,./../dataset_used/oct_image/non_glaucoma\oct_0...,526,121856
555,48763,oct_0_48763_r_d.jpg,./../dataset_used/oct_image/non_glaucoma\oct_0...,539,48763
556,48763,oct_0_48763_l_s.jpg,./../dataset_used/oct_image/non_glaucoma\oct_0...,538,48763

### Identify the problem

In [23]:
miss_data = validated_data.loc[validated_data.duplicated()]
miss_data.drop(columns=['index', 'id_y'], inplace=True)
miss_data.rename(columns={'id_x': 'id', 'new_path':'path'}, inplace=True)
miss_data.reset_index(names='error_id', inplace=True)
miss_data['error_id'] = (miss_data['error_id'].astype('str') + '_'
                        + miss_data['file_name'].apply(lambda x: x.split('_')[0]) + '_'
                        + miss_data['file_name'].apply(lambda x: x.split('_')[1]))
miss_data

C:\Users\Bugi\AppData\Local\Temp\ipykernel_14216\3974109977.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  miss_data.drop(columns=['index', 'id_y'], inplace=True)
C:\Users\Bugi\AppData\Local\Temp\ipykernel_14216\3974109977.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  miss_data.rename(columns={'id_x': 'id', 'new_path':'path'}, inplace=True)
C:\Users\Bugi\AppData\Local\Temp\ipykernel_14216\3974109977.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  miss_data['error_id'] = (miss_data['error_id'].astype('str') + '_'

,error_id,id,file_name,path
0,28_fff_1,120793,fff_1_120793_r_).jpg,./../dataset_used/fundus_image/glaucoma\fff_1_...
1,29_fff_1,120793,fff_1_120793_r_).jpg,./../dataset_used/fundus_image/glaucoma\fff_1_...
2,30_fff_1,120793,fff_1_120793_r_).jpg,./../dataset_used/fundus_image/glaucoma\fff_1_...
3,31_fff_1,120793,fff_1_120793_r_).jpg,./../dataset_used/fundus_image/glaucoma\fff_1_...
4,33_fff_1,120793,fff_1_120793_l_).jpg,./../dataset_used/fundus_image/glaucoma\fff_1_...
5,34_fff_1,120793,fff_1_120793_l_).jpg,./../dataset_used/fundus_image/glaucoma\fff_1_...
6,553_oct_0,121355,oct_0_121355_l_).jpg,./../dataset_used/oct_image/non_glaucoma\oct_0...

**Found the reason why there are 7 image missing:**
There are 7 duplicated data

### Start Solving The Problem

#### Solve 553_oct_0

In [61]:
miss_553_oct_0 = src_metadata.loc[(src_metadata.id == 121355)
                                    & (src_metadata.img_type == 'oct')]
miss_553_oct_0.path = miss_553_oct_0.path.apply(lambda x: os.path.join('./../', x))
miss_553_oct_0 = list(miss_553_oct_0.path)

C:\Users\Bugi\AppData\Local\Temp\ipykernel_14216\2077872900.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  miss_553_oct_0.path = miss_553_oct_0.path.apply(lambda x: os.path.join('./../', x))

In [60]:
try:
    os.rename(miss_553_oct_0[0], miss_553_oct_0[0].replace('OS (121356)', 'OD (121355)'))
except FileNotFoundError:
    print('File not found or already renamed')

#### Solve 28_fff_1, 29_fff_1, 30_fff_1, 31_fff_1, 33_fff_1, 34_fff_1

In [147]:
miss_rest = {'src':list(src_metadata.loc[(src_metadata.id == 120793) & (src_metadata.img_type == 'fundus'), 'path'])}
9
miss_rest['new'] = [x.replace('3 (', '3 ') for x in miss_rest['src']]
miss_rest['new'] = [x.replace('3    (', '3    ') for x in miss_rest['new']]
miss_rest['new'] = [x.replace(').', '.') for x in miss_rest['new']]
miss_rest['new'] = [os.path.join('./../', x) for x in miss_rest['new']]
miss_rest['src'] = [os.path.join('./../', x) for x in miss_rest['src']]

In [146]:
for srcfile, newfile in zip(miss_rest['src'], miss_rest['new']):
    try:
        os.rename(srcfile, newfile)
    except FileNotFoundError:
        print(f'{srcfile} not found or already renamed')

### Rerun The Scripts
* create_metadata.py
* restructure_files.ipynb