In [1]:
import pandas as pd

In [6]:
metadata = pd.read_excel('./../../data/patient_fundus_count.xlsx')

metadata.drop(columns=['patient'], inplace=True)

metadata.head()

       id eye_side  fundus_img_count
0  121444        r                 3
1  121444        l                 3
2  111784        l                 1
3  111784        r                 1
4   30315        l                 3

In [8]:
metadata.fundus_img_count.mean()

np.float64(2.361581920903955)